<div class="container-fluid bg-light ">
  <div class="row justify-content-center">
    <div class="col-md-9 text-center">
      <div class="footer-site-logo mb-4">
        <a href="/" class="footer-link">WanderLust Private Limited</a>
      </div>
      <ul class="list-unstyled  text-center d-flex justify-content-center nav-links mb-5">
        <li class="text-decoration-none"><a href="#">About</a></li>
        <li class="text-decoration-none"><a href="#">Services</a></li>
        <li class="text-decoration-none"><a href="#">Press</a></li>
        <li class="text-decoration-none"><a href="#">Careers</a></li>
        <li class="list-li"><a href="#">FAQ</a></li>
        <li class="list-li"><a href="#">Legal</a></li>
        <li class="list-li"><a href="#">Contact</a></li>
      </ul>
 
      <div class="d-flex justify-content-center flex-column mb-4">
        <h3>Stay in touch</h3>
        <ul class=" d-flex gap-4 list-unstyled justify-content-center mt-4">
          <li class="in">
            <i class="fa-brands fa-instagram fs-2 "></i>
          </li>
          <li class="fb">
            <i class="fa-brands fa-facebook fs-2"></i>
          </li>
          <li class="tw">
            <i class="fa-brands fa-twitter fs-2"></i>
          </li>
         
        </ul>
      </div>

      <div class="copyright">
        <p class="mb-0">
          <small>&copy; WanderLust Private Limited. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</div>
